---
import { getCollection, render, type CollectionEntry } from "astro:content";
import BlogLayout from "@/layouts/blog-layout.astro";
import Sparator from "@/components/sparator.astro";
import Section from "@/components/section.astro";
import Utterances from "@/components/utterances.astro";
import { Badge } from "@/components/ui/badge";
import { ArrowLeft } from "lucide-react";

type Post = { entry: CollectionEntry<"posts"> };

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((entry) => ({
    params: { slug: entry.data.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await render(entry);
---

<BlogLayout title={entry.data.title}>
  <Sparator />
  <Section class="p-3">
    <div class="flex items-center justify-between">
      <a href="/blog"> <ArrowLeft size={32} /></a>
    </div>
  </Section>
  <Sparator />
  <div class="section container p-3">
    <div class="screen-line-after pb-3 space-x-2">
      {entry.data.tags.map((tag) => <Badge>{tag}</Badge>)}
    </div>
    <h2 class="text-2xl lg:text-5xl py-3 screen-line-after">
      {entry.data.title}
    </h2>
    <p class="text-sm text-muted-foreground py-3 screen-line-after">
      {entry.data.date.toDateString()}
    </p>
    <article class="prose prose-sm md:prose-lg text-justify min-w-full dark:prose-invert mt-6">
      <Content />
    </article>
  </div>
  <Sparator />
  <Section class="p-3">
    <Utterances />
  </Section>
  <Sparator />
</BlogLayout>
