---
import { getCollection, render, type CollectionEntry } from "astro:content";
import BlogLayout from "@/layouts/blog-layout.astro";
import Sparator from "@/components/sparator.astro";
import { Badge } from "@/components/ui/badge";

type Post = { entry: CollectionEntry<"posts"> };

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await render(entry);
---

<BlogLayout title={entry.data.title}>
  <Sparator />
  <div class="section container p-3">
    <div class="screen-line-after pb-3 space-x-2">
      {entry.data.tags.map((tag) => <Badge>{tag}</Badge>)}
    </div>
    <h2 class="text-3xl lg:text-5xl py-3 screen-line-after">
      {entry.data.title}
    </h2>
    <p class="text-muted-foreground py-3 screen-line-after">
      {entry.data.date.toDateString()}
    </p>
    <article class="prose text-justify min-w-full dark:prose-invert mt-6">
      <Content />
    </article>
  </div>
  <Sparator />
</BlogLayout>
