---
import BaseLayout from "@/layouts/base-layout.astro";
import Section from "@/components/section.astro";
import Sparator from "@/components/sparator.astro";
import { getCollection } from "astro:content";
import { ArrowUpRight } from "lucide-react";

const posts = await getCollection("posts", ({ data }) => {
  return data.draft !== true;
});
---

<BaseLayout title="Blog">
  <Section title="Haidar's writings" class="mt-14 px-3 py-12">
    <p class="text-muted-foreground lg:w-1/2">
      I write about the web, programming, and sometimes my life experiences.
      Enjoy reading!
    </p>
  </Section>
  <Sparator />
  <Section class="p-3">
    <div class="grid md:grid-cols-2 gap-3">
      {
        posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime()).map((post) => (
          <a
            href={`/blog/${post.data.slug}`}
            class="group flex items-start justify-between gap-3 p-3 border"
          >
            <div class="flex items-center gap-4">
              <div class="grid grid-cols-1">
                <p class="text-lg font-semibold group-hover:underline">
                  {post.data.title}
                </p>
                <p class="text-sm text-muted-foreground">
                  {post.data.date.toLocaleDateString(undefined, {
                    dateStyle: "full",
                    timeZone: "UTC",
                  })}
                </p>
              </div>
            </div>
            <div class="w-5">
              <ArrowUpRight size={16} />
            </div>
          </a>
        ))
      }
    </div>
  </Section>
</BaseLayout>
