---
import Layout from "../layouts/base-layout.astro";
---

<Layout title="404">
  <div class="min-h-screen container section flex flex-col items-center justify-center gap-3">
    <h1 class="text-3xl lg:text-5xl screen-line-before screen-line-after py-3">404</h1>
    <p class="text-muted-foreground screen-line-before screen-line-after py-3">Page not found</p>
  </div>
</Layout>