---
import { Button } from "@/components/ui/button";
import { ModeToggle } from "@/components/mode-toggle";
import MobileMenu from "@/components/mobile-menu";

const menu = [
  {
    label: "Categories",
    href: "/blog/categories",
  },
  {
    label: "Tags",
    href: "/blog/tags",
  },
];
---

<header class="bg-background fixed w-full top-0 z-50">
  <div class="container section p-3 flex items-center justify-between">
    <h4 class="font-black text-2xl">
      <a href="/">
        <img class="w-8 invert dark:invert-0" src="/favicon.svg" alt="icon" />
      </a>
    </h4>
    <div class="flex">
      <div class="hidden md:block">
        {
          menu.map((item) => (
            <Button className="px-2" variant={"link"}>
              <a href={item.href} class="hover:cursor-pointer">
                {item.label}
              </a>
            </Button>
          ))
        }
      </div>

      <!-- <ModeToggle client:load /> -->
      <div class="md:hidden block">
        <MobileMenu menu={menu} client:load />
      </div>
    </div>
  </div>
</header>
