---

---

<div class="flex items-center w-fit gap-1">
  <img
    src="https://mirrors.creativecommons.org/presskit/icons/cc.svg"
    alt="CC"
    class="w-5 h-5"
  />
  <img
    src="https://mirrors.creativecommons.org/presskit/icons/by.svg"
    alt="BY"
    class="w-5 h-5"
  />
  <img
    src="https://mirrors.creativecommons.org/presskit/icons/nc.svg"
    alt="NC"
    class="w-5 h-5"
  />
  <img
    src="https://mirrors.creativecommons.org/presskit/icons/sa.svg"
    alt="SA"
    class="w-5 h-5"
  />
</div>
