---
import Section from "@/components/section.astro";
import CcByNcSa from "./cc-by-nc-sa.astro";
---

<Section class="p-3">
  <div class="flex items-center justify-between gap-3 flex-col md:flex-row">
    <p class="text-sm text-muted-foreground">
      Built with <a href="https://astro.build" class="underline font-semibold"
        >Astro</a
      > by <a href="https://github.com/hilmyha/" class="underline font-semibold"
        >Whodareuu</a
      > © {new Date().getFullYear()} - <a
        href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
        class="underline font-semibold"
      >
        CC BY-NC-SA 4.0
      </a>
    </p>
    <CcByNcSa />
  </div>
</Section>
