---
import Section from "@/components/section.astro";
---

<Section class="p-3">
  <p class="text-sm text-muted-foreground">Built with <a href="https://astro.build" class="underline font-semibold">Astro</a> by Whodareuu</p>
</Section>
