---
import { Meteors } from "@/components/ui/meteors";
---

<div class="bg-foreground/10 dark:bg-background overflow-hidden">
  <div
    class="px-3 mt-12 h-[24rem] flex flex-col gap-3 container justify-center relative"
  >
    <h2 class="z-10 text-3xl lg:text-5xl">Hi, I'm Haidar</h2>
    <p class="z-10 text-muted-foreground">
      Just an ordinary boy turning into a coder
    </p>
    <Meteors number={80} client:load />
  </div>
</div>
