---

---

<div
  class="px-3 mt-12 h-[24rem] flex flex-col gap-3 container justify-center screen-line-after"
>
  <h2 class="text-3xl lg:text-5xl">Hi, I'm Haidar</h2>
  <p class="text-muted-foreground">Just an ordinary boy turning into a coder</p>
</div>
