---
import { getCollection } from "astro:content";
import Head from "@/components/head.astro";
import Header from "@/components/header.astro";
import Footer from "@/components/footer.astro";
import "@/styles/global.css";
// import Informations from "@/components/informations";

const { title, description = "Just a personal website" } = Astro.props;

const posts = await getCollection("posts", ({ data }) => {
  return data.draft !== true;
});

// const latestPost = posts.sort((a, b) =>
//   new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
// )[0];
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }
</script>

<html lang="en">
  <Head {title} {description} />
  <body class="scroll-smooth antialiased">
    <div class="overflow-hidden">
      
      <!-- <Informations postDate={latestPost?.data.date} /> -->
      <Header />
      <div class="min-h-screen">
        <slot />
      </div>
      <Footer />
    </div>
  </body>
</html>
